
<div class="container px-5 px-sm-0">
  <%= render '/public/posts/list', posts: @posts %>
　　<h2 class="title text-center">Users</h2>
　　　<div class="user-results">
          <% @users.each do |user| %>
          <div class=user>
              <%= image_tag user.get_profile_image(100,100) %>
            <br>name: <%= link_to "#{user.name}",  user_path(user)%>
          </div>
          <% end %>
      </div>
</div>
  <style>
  .title {
    font-size: 30px;
    text-align: center; 
  }
  
  .user-results {
  display: flex;
  flex-wrap: wrap;
　}

  </style>
      
