<div class="container text-center">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1 class="title">About</h1>
      <p class="subtitle"><strong>comic_room</strong>とは、漫画のおすすめ作品を共有したり、<br>読みたい漫画を探すサイトです。</p>
      <p class="subtitle">例えば、<br>「何の漫画を読もうかを考えてる方」や<br>「紹介したい漫画があるけど投稿しづらい方」をターゲットに制作しました。</p>
      <p>あなたもcomic_roomを使ってみませんか？</p>
    </div>
  </div>
</div>

<style>
  .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
        margin:10px auto;
    }
</style>