
  <div class="container d-flex justify-content-center　align-items-center">
    <div class="row">
     <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center">
      <h1 class="custom-title">Welcome to <strong>ComicRoom</strong> !!</h1>
     </div>
    </div>
    
     <div class="btn-wrapper col-5 mx-auto">
       <div class="row">
      <button class="btn btn-orange btn-rounded mb-3 sign_up" onclick="location.href='/users/sign_up'">Sign up</button>
      </div>
      
     <p>or</p>
     
      <div class="row">
      <button class="btn btn-ultla-voilet btn-rounded  mb-3 sign_in" onclick="location.href='/users/sign_in'">Log in</button>
     </div>
    </div>
  </div>

   <style>
       .d-flex {
           text-align: center;
       }
       
       .custom-title {
           font-family: 'Impact', sans-serif; /* フォントファミリーを変更 */
           font-size: 48px; /* フォントサイズを大きく */
           color: #2C3E50; /* テキストの色を変更 */
           text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* テキストの影を追加 */
           letter-spacing: 2px; /* 文字間隔を調整 */
           margin: 30px 0;
       }
       .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
       }
       
       .btn-rounded {
           display: inline-block;
           width: 200px;
           height: 50px;
           border-radius: 35px;
       }
       
       .btn-orange {
           background: linear-gradient(to right, #f7b733, #fc4a1a);
           color: #fff;
           border: 2px solid #fff;
       }
       
       .btn-ultla-voilet {
           background: linear-gradient(to right, #eaafc8, #654ea3);
           color: #fff;
           border: 2px solid #fff;
       }
   </style>